@import url("reset.css");


/* 헤더 */
.header {
    width: 360px;
    position: fixed;
    top: 0;
    height: 80px;
    background-color: #3E4653;
    color: #F5F5F7;
    text-align: center;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: env(safe-area-inset-top); /* iOS notch 대응 */
}

/* 로고  */
.logo {
    font-family: 'Cafe24ProUp', sans-serif;
    font-size : 25px;
    font-weight: normal;
    color: #fff;
}

/* 푸터 */
.footer {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
    color: #3E4653;
    padding: 10px;
    margin-top: 50px;
}

.footer-content {
    margin: 50px 30px;
    text-align: center;
}

