<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potfill.user.complaint.dao.UserComplaintRepository">

	<!-- Complaint VO 매핑 -->
	<resultMap id="ComplaintResultMap" type="com.potfill.user.complaint.model.Complaint">
		<id property="complaintId" column="COMPLAINT_ID" />
		<result property="reporterName" column="REPORTER_NAME" />
		<result property="reporterNumber" column="REPORTER_NUMBER" />
		<result property="incidentAddress" column="INCIDENT_ADDRESS" />
		<result property="districtCode" column="DISTRICT_CODE" />
		<result property="gu" column="GU" />
		<result property="dong" column="DONG" />
		<result property="lat" column="LAT" />
		<result property="lon" column="LON" />
		<result property="radius" column="RADIUS" />
		<result property="h3Index" column="H3_INDEX" />
		<result property="h3Res" column="H3_RES" />
		<result property="reportContent" column="REPORT_CONTENT" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="assignedAdminId" column="ASSIGNED_ADMIN_ID" />
		<result property="assignedDepartment" column="ASSIGNED_DEPARTMENT" />
		<result property="reportCount" column="REPORT_COUNT" />
	</resultMap>

	<!-- 신고 폼 저장 -->
	<insert id="insertComplaint" parameterType="com.potfill.user.complaint.model.Complaint">
		INSERT INTO complaints
		(complaint_id, reporter_name, reporter_number, incident_address, created_at)
		VALUES (#{complaintId}, #{reporterName}, #{reporterNumber},
		#{incidentAddress}, SYSDATE)
	</insert>

	<!-- 첨부된 사진 저장 -->
	<insert id="insertComplaintPhoto" parameterType="com.potfill.user.complaint.model.ComplaintPhoto">
		INSERT INTO complaint_photos
		(photo_id, complaint_id, file_url, original_name, stored_name, created_at)
		VALUES (COMPLAINT_PHOTOS_SEQ.NEXTVAL, #{complaintId}, #{fileUrl},
		#{originalName}, #{storedName}, SYSDATE)
	</insert>

	<!-- 내 신고 이력 조회 (이름 + 연락처로 신고 조회) -->
	<select id="findByNameAndPhone" parameterType="map" resultMap="ComplaintResultMap">
		SELECT
			COMPLAINT_ID,
			REPORTER_NAME,
			REPORTER_NUMBER,
			INCIDENT_ADDRESS,
			DISTRICT_CODE,
			GU,
			DONG,
			LAT,
			LON,
			RADIUS,
			H3_INDEX,
			H3_RES,
			REPORT_CONTENT,
			CREATED_AT,
			ASSIGNED_ADMIN_ID,
			ASSIGNED_DEPARTMENT,
			REPORT_COUNT
		FROM COMPLAINTS
		WHERE REPORTER_NAME = #{reporterName}
		AND REPORTER_NUMBER = #{reporterNumber}
	</select>
	
	<!-- 데이터베이스의 좌표 조회 -->
    <select id="findAllCoords" resultType="com.potfill.user.complaint.model.Complaint">
        SELECT 
        	COMPLAINT_ID, 
        	LAT, 
        	LON
        FROM COMPLAINTS
        WHERE LAT IS NOT NULL AND LON IS NOT NULL
    </select>

    <!-- 해당 민원의 최신 상태 조회 -->
    <select id="findLatestStatusByComplaintId" resultType="string" parameterType="long">
        <!-- SELECT 
        	STATUS
        FROM COMPLAINT_HISTORIES
        WHERE COMPLAINT_ID = #{complaintId}
          AND CREATED_AT = (
              	SELECT MAX(CREATED_AT)
              	FROM COMPLAINT_HISTORIES
              	WHERE COMPLAINT_ID = #{complaintId}
          ) -->
			SELECT status
			FROM complaint_histories
			WHERE complaint_id = #{complaintId}
			ORDER BY created_at DESC
			FETCH FIRST 1 ROW ONLY
          
    </select>

    <!-- 신고 빈도수 증가 -->
    <update id="incrementReportCount" parameterType="long">
        UPDATE COMPLAINTS
        SET REPORT_COUNT = NVL(REPORT_COUNT, 0) + 1
        WHERE COMPLAINT_ID = #{complaintId}
    </update>

</mapper>
